* {
  box-sizing: border-box;
  font-family: 'Lucida Sans';
  font-size: 14px;
  /* border: 1px solid #eee; */
}


/* header */
.hdb {
  width: 100%;
  height: 50px;
  background-color: #273746 ;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdb-title {
  margin-left: 10px;
  width: 150px;
}

.hdb-control {
  margin-right: 20px;
  width: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.hdb-control > .start,
.hdb-control > .stop,
.hdb-control > .meeting,
.hdb-control > .skip,
.hdb-control > .reset {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hdb-control > .start:hover,
.hdb-control > .stop:hover,
.hdb-control > .meeting:hover,
.hdb-control > .skip:hover,
.hdb-control > .reset:hover {
  background-color: #ffff00;
}

.hdb-control > .start > img,
.hdb-control > .stop > img,
.hdb-control > .meeting > img,
.hdb-control > .skip > img,
.hdb-control > .reset > img {
  object-fit: contain;
  width: 12px;
  height: 12px;
}

.hdb-control > .tgg {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hdb-control > label > span,
.hdb-control > .tgg > span {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

/* Bar routines */
#bar-routines{
  width: 100%;
  height: 30px;
  background-color: #abebc6;
  color: #000;
  display: none;
}
#bar-routines > * {
  padding: 0px 8px;
  width: auto;
  height: 100%;
  /* border: 1px solid #fff; */
  font-size: 10px;
  display: flex;
  align-items: center;
}

/* Bar count up */
#bar-countup{
  padding: 15px;
  width: 100%;
  height: 30px;
  background-color: #ffff00;
  color: #000;
  display: none;
}

/* container layout */
.ctn-layout {
  margin-top: 10px;
  width: 1080px;
  display: flex;
  justify-content: space-between;
}

.ctn-layout-sub {
  display: flex;
  gap: 10px;
}

.ctn-layout-sub:first-child {
  width: 85%;
}

.ctn-layout-sub:last-child {
  width: 15%;
  display: flex;
  justify-content: end;
}

/* container */
.ctn {
  padding: 5px;
  width: 140px;
  height: 180px;
  border: 1px solid #aaa;
  border-radius: 15px;
  /* box-shadow: 5px 5px 5px lightgrey; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.ctn > .ctn-img {
  margin-top: 20px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn > .ctn-img > img {
  object-fit: contain;
  width: 35px;
  height: 35px;
}

.ctn > .title {
  margin-top: 10px;
  font-weight: 800;
}

.ctn > .progressbar-frame {
  margin-top: 10px;
  width: 100px;
  height: 5px;
  background-color: #fff;
}

.ctn > .progressbar-frame > .progressbar-value {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.ctn > .remain-time {
  font-size: 12px;
  color: #fff;
}

/* activities log */
.log-layout > .title {
  margin: 50px 0px 20px 10px;
  font-weight: 800;
}

.log-layout > table {
  margin-left: 8px;
  border-collapse: collapse;
  width: 99%;
}

.log-layout > table > thead > tr > th {
  padding: 6px;
  min-width: 86px;
  max-width: 300px;
  border: 1px solid black;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  text-align: start;
}

.log-layout > table > tbody > tr > td {
  padding: 5px;
  border: 1px solid black;
  font-size: 12px;
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e74c3c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b03a2e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* responsive */
@media screen and (min-width: 0px) {
  .ctn-layout {
    width: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .ctn-layout-sub {
    display: grid;
    grid-template-columns: repeat(2, 170px);
  } 

  .ctn-layout-sub:first-child {
    width: 100%;
  }
  
  .ctn-layout-sub:last-child {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .ctn {
    padding: 5px;
    width: 160px;
    height: 180px;
    border: 1px solid #aaa;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

}

@media screen and (min-width: 576px) {
  .ctn-layout {
    width: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .ctn-layout-sub {
    display: grid;
    grid-template-columns: repeat(3, 170px);
  } 

  .ctn {
    padding: 5px;
    width: 160px;
    height: 180px;
    border: 1px solid #aaa;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

}

@media screen and (min-width: 720px) {
  .ctn-layout {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .ctn-layout-sub {
    display: grid;
    grid-template-columns: repeat(4, 170px);
  } 

  .ctn {
    padding: 5px;
    width: 160px;
    height: 180px;
    border: 1px solid #aaa;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

}

@media screen and (min-width: 812px) {
  .ctn-layout {
    width: 812px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .ctn-layout-sub {
    display: grid;
    grid-template-columns: repeat(5, 150px);
  }  

  .ctn {
    padding: 5px;
    width: 150px;
    height: 180px;
    border: 1px solid #aaa;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (min-width: 1010px) {
  .ctn-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .ctn-layout-sub {
    display: flex;
    gap: 10px;
  } 

  .ctn-layout-sub:last-child {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .ctn {
    padding: 5px;
    width: 150px;
    height: 180px;
    border: 1px solid #aaa;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }
}

